@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Brand colors */
:root {
    --white: #ffffff;
    --lightGrey: #F2F2F2;
    --grey: #888888;
    --darkGrey: #404040;
    --black: #0D0D0D;
    --red: #E81D24;
    --maroon: #800000;
    --gold: #F2A413;
    --orange: #F2561D;

    
  }
/* base styles */
* {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    color: var(--black);
  }

/* ThemeToggle */
 .themeToggle {
    display: flex;
    align-items: flex-end;
}

/* navbar styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    border-bottom: 1px solid var(--red);
    /* background-color: var(--red); */
  }
  .navbar img {
    width: 120px;
    height: auto;
  }
  .navbar .links {
    display: flex;
  }
  .navbar a {
    text-decoration: none;
    padding: 20px;
  }
  .navbar a:hover {
    color: var(--red);
    border-bottom: 1px solid var(--red);
    transition: 0.5s;
  }

  /* Home CSS */
  